.brandname {
  font-family: "BonVoyage", sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 0;
  padding-top: 2px;
  border-bottom: 1px solid black;
}

.nav-item {
  font-weight: 500;
}

.search {
  border: none;
  width: 70px;
}
