.section5title {
  font-family: "BonVoyage";
  font-size: 80px;
}

.section5headingimage {
  width: 200px;
  height: 75px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.section5heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  font-family: "BonVoyage", sans-serif;
  font-size: 30px;
}

.centerimage {
  display: inline;
  height: 450px;
  width: 300px;
  border-radius: 200px 200px 200px 200px;
}

.feature-title {
  font-family: "BonVoyage", sans-serif;
  font-size: 35px;
}

.feature-detail {
  font-size: 15px;
}

@media (max-width: 800px) {
  .section5heading {
    display: block;
  }
  .section5headingimage {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .section5title {
    font-size: 58px;
  }
}
