.image3 {
  display: inline;
  height: 350px;
  padding: 5px;
  width: 250px;
  border-radius: 200px 200px 200px 200px;
}

.section6 {
  background-color: rgba(201, 199, 199, 0.274);
}
/* 
.outerlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  border: 2px dashed #ccc;
  border-radius: 200px 200px 200px 200px;
  transform: translate(-50%, -50%);
  
}

.innerlayer {
  position: relative;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  border: 2px dashed #ccc;
  border-radius: 200px 200px 200px 200px;
  transform: translate(-50%, -50%);
  
} */
