@font-face {
  font-family: "BonVoyage";
  src: url("../public/fonts/BonVoyage.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 800px) {
  .allborder {
    border: 3px solid black;
  }

  body {
    overflow-x: hidden;
  }
}

/* SECTION 2 STYLING */
body {
  overflow-x: hidden;
}

.sectiontwo {
  border: 2px solid black;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.box1 {
  border-right: 2px solid black;
  border-left: none;
}

/* Section 3 */

/* .top {
  margin: 2px;
  border: 1px solid black;
}
.top1 {
  border-radius: 20%;
} */
